{% extends "shop/base_shop.html" %}
{% block head_title %}{% if object %}Change an address{% else %}Add an address{% endif %}{% endblock %}
{% block meta_description %}Save a delivery address in your ExamLeaf account for a faster checkout.{% endblock %}
{% block robots %}<meta name="robots" content="noindex">{% endblock %}
{% block content %}
<section class="section section-top">
  <div class="container form-page stack">
    <h1>{% if object %}Change an address{% else %}Add an address{% endif %}</h1>
    <form method="post" class="card">{% csrf_token %}
      <div class="card-body">
        {% include "_form_errors.html" %}
        {% include "_required_note.html" %}
        <div class="form-grid address-grid">{% for field in form %}{% include "_field.html" %}{% endfor %}</div>
      </div>
      <div class="card-footer"><button type="submit" class="btn btn-primary">Save</button><a class="link-go" href="{% url 'account' %}">Cancel</a></div>
    </form>
  </div>
</section>
{% endblock %}
